/* Use, tweak, improve, enjoy. Just link back! */
/* http://marvelapp.com */
/* http://twitter.com/olegtsaplin */

body {
	font-family: "Avenir LT W01 35 Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	text-align: center;
	color: #1e1e1e;
}

h1 {
	font-size: 24px;
	line-height: 1;
	margin-bottom: 100px;
}

a {
	color: #36a6ff;
	webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.device, .device div, *:before, *:after {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

a:hover {
	color: #0079da;
}

header {
	padding: 150px 0;
	line-height: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header h1 {
	margin-bottom: 20px;
}

header span, header a {
	vertical-align: top;
}

header span {
	margin-right: 10px;
}

header .wrap{
	width: 500px;
	margin: 0 auto;
}

.download {
	line-height: 48px;
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #883de4;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	width: 190px;
	margin: 20px auto 0 auto;
}

.download:hover {
	color: white;
}

html, body {
	height: 100%;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

section {
	background: #1e1e1e;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}

section .wrap {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 200px 0;
}

section h1 {
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
}

section.white, #s5.black, #lumia920.white, #lumia920.black {
	background: #1e1e1e;
}

#s5.white, #s5.white .select-landscape {
	color: black;
}

section.black h1, section.white, section.black .select-landscape, section.white .select-landscape {
	color: white;
}

section.gold, section.silver, section.blue, section.red, section.yellow, section.green, #nexus5, #lumia920, #s5, #htc-one {
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

a {
	text-decoration: none;
}

.selector {
	width: 100%;
	text-align: center;
	margin-top: 100px;
	display: block;
	position: absolute;
	bottom: 100px;
	left: 0;
}

.selector li {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	display: inline-block;
	text-indent: -9999px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	line-height: 30px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
}

.select-black {
	background: #2c2b2c;
}

.select-silver {
	background: #f0f0f0;
}

.select-gold {
	background: #f1e2d0;
}

.select-white, #s5 .select-white, #s5 .select-white.selected {
	background: white;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
}

.select-white.selected {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.select-red {
	background: #f96b6c;
}

.select-yellow {
	background: #f2dc60;
}

.select-green {
	background: #97e563;
}

.select-blue {
	background: #33a2db;
}

.select-landscape {
	text-indent: 0px !important;
	width: 100px !important;
	color: #1e1e1e;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	letter-spacing: 2px;
	padding: 0 10px;
}

.selector li:hover {
	opacity: 1;
}

.selector li.selected {
	-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1);
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.top-bar, .bottom-bar {
	height: 3px;
	background: black;
	width: 100%;
	display: block;
}

.middle-bar {
	width: 3px;
	height: 4px;
	top: 0px;
	left: 90px;
	background: black;
	position: absolute;
}

.device .screen {
	width: 100%;
	position: relative;
	height: 100%;
	z-index: 2;
	text-align: left;
	text-indent: -999px;
	display: block;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 0 0 3px #111;
	box-shadow: 0 0 0 3px #111;
}

.device .screen:before {
	content: '';
	display: block;
	text-indent: -9999px;
	height: 34px;
	display: inline-block;
	text-align: left;
	width: 96px;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 50%;
	margin-left: -48px;
	background-image: url(https://marvelapp.com/static/site_assets/images/logo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 96px 68px;
}
